/* font-styles */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* common styles */
a{
    text-decoration: none;
    color: black;
}
/* header styles */
.header{
    max-width: 1500px;
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
}
/* logo */
.logo{
    font-size: 24px;
    font-weight: 700;
    padding-top: 0;
}
/* navigation */
nav>ul{
    display: flex;
 }
nav>ul>li{
    list-style: none;
    margin-left: 25px;
    margin-top: 14px;
}
nav>ul>li>a{
    text-decoration: none;
    color:black;
}
nav>ul>li>a:hover{
    color:cornflowerblue;
}

/* banner-section */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 70px 30px;
}
/* banner text section */
.banner-text{
  margin-top: 20px;  
}
/* banner-text text h1 */
.banner-text h1{
    font-size: 52px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
.banner-text h1:hover{
    color: crimson;
    width: 100%;
}
/* banner-text pragraph */
.banner-text p{
    width: 70%;
    line-height: 1.3em;
}
/* banner-text button  */
section>.banner-text>span{
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    transition-property: width;
    transition-duration: 3s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}
.banner-text a{
    color: white;
    font-weight: 500;
}
.banner-text span i{
    margin-left: 15px;
}
section>.banner-text>span:hover{
    background-color: rgb(75, 136, 73);
    padding: 15px 25px;
    color: white;
    width: 250px;
}
/* The animation code */
@keyframes header-img {
    0%{
        border: 5px solid black;
        max-width: 300px;
        height: auto;
    }
    50%{
        border: 5px solid rgb(17, 122, 14);
        max-width: 400px;
        height: auto;
    }
    100%{
        border: 5px solid crimson;
        max-width: 500px;
        height: auto;
    }
  }
/* banner image */
.banner-image{
    background-color: rgb(245, 231, 231);
    border-radius: 50%;
 }
.banner-image img{
    max-width: 300px;
    height: auto;
    border: 5px solid crimson;
    border-radius: 50%;
}
.banner-image img:hover{
    animation-name: header-img;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
/* add section */
.ad-section-img{
    display: flex;
    justify-content: space-evenly;
    margin:120px 20px 0 20px;
    border-top: .3px solid rgb(216, 195, 195);
    border-bottom: .3px solid rgb(216, 195, 195);
    padding: 10px;
}
/* collection section */
.gallary-section{
    max-width: 1500px;
    margin: 120px 30px;
}
.collection-gallary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-left: 85px;
}
.collection-heading{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.single-section{
    align-items: center;
    display: grid;
}
.gallary-section f3{
    font-size: 28px;
    font-weight: 500;
}
.gallary-section h4,p,i{
    line-height: .5em;
}
.gallary-section i{
    color:orange;
}
.gallary-section .arrow-right{
    text-align: right;
    color: crimson;
}
.gallary-section .arrow-right .fas{
    text-align: right;
    color: crimson;
    margin-left: 10px;
}
/* contac section */
.contact-us{
    max-width: 1500px;
    margin: 120px 30px;
    
}
.contact-heading{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.contact-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
address>span{
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    transition-property: width;
    transition-duration: 3s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}
address>span>a{
    color: white;
    font-weight: 600;
}
address>span:hover{
    background-color: rgb(27, 148, 27);
    color: white;
}
.contact-section i{
    margin-left: 10px;
}
/* footer section */
.footer{
    max-width: 1500px;
    background-color: #0A0826;
    padding: 30px 0;
    color: white;
    text-align: center;
}
.footer .social-icon{
    display: flex;
    justify-content: center;
    
    
}
.footer .social-icon .fab{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 5px 5px;
    margin: 2px 8px;
    border-radius: 50%;
    
}
.footer .social-icon .fab:hover{
    background-color: rgb(86, 165, 158);
    color: rgb(59, 48, 126);
    
    
}
/* for responsive */
/* For small and medium devices (phones 600px and down) */
@media only screen and (max-width: 600px) {
    .header{
        display: block;
        text-align: center;
    }
    .banner{
        display: block;
        text-align: center;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .gallary-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

}
/* For medium devices phones 992px and down) */
@media only screen and (max-width: 768px) {
    .header{
        display: block;
        text-align: center;
    }
    .banner{
        display: block;
        text-align: center;
    }
    .banner-text h1{
        font-size: 35px;
    }
    .gallary-section{
        display: block;
        text-align: center;
        margin: 40px 10px;
    }
   
}


/* Medium devices (landscape laptop, 992px and up) */
@media only screen and (max-width: 992px) {
    .gallary-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
}

